/* -----------GENERALT START----------- */

body {
    margin: 0;
    padding: 0;
}


#scene {
    width: 100vw;
    height: 56.25vw;
    position: relative;
    /*overflow: hidden;*/
}

/* -----------GENERALT SLUT----------- */

/* -----------BACKGROUND START----------- */

#background {
    z-index: 1;
    width: 100vw;
    height: 56.25vw;
    background-image: url(image/baggrund.svg);
    background-size: 100%;
    position: absolute;
}

/* -----------BACKGROUND SLUT----------- */

/* -----------MELLEMGRUND START----------- */

#mellemgrund {
    z-index: 2;
    width: 100vw;
    height: 56.25vw;
    background-image: url(image/mellemgrund.svg);
    background-size: 100%;
    position: absolute;
}

/* -----------MELLEMGRUND SLUT----------- */

/* -----------FORGRUND START----------- */

#forgrund {
    z-index: 3;
    width: 100vw;
    height: 56.25vw;
    background-image: url(image/forgrund.svg);
    background-size: 100%;
    position: absolute;
}

/* -----------FORGRUND SLUT----------- */

/* -----------ARTIG BILLEDER START----------- */

#mobile_container {
    z-index: 3;
    width: 45vw;
    height: 30vw;
    background-image: url(image/uartigbilleder_spritesheet.png);
    background-size: 200%;
    position: absolute;
    top: 29%;
    left: 29%;
    border: solid 1px #A9A9A9;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
}

/* -----------ARTIG BILLEDER SLUT----------- */

/* -----------KNAPPER START----------- */

#knap_del {
    z-index: 3;
    width: 27vw;
    height: 10vw;
    background-image: url(image/del.svg);
    background-size: 100%;
    position: absolute;
    top: 82%;
    left: 25%
}

#knap_del_ikke {
    z-index: 3;
    width: 27vw;
    height: 10vw;
    background-image: url(image/del_ikke.svg);
    background-size: 100%;
    position: absolute;
    top: 82%;
    left: 51%
}

/* -----------KNAPPER SLUT----------- */

/* -----------MR PICKLE START----------- */

#mrpickle_sprite {
    z-index: 3;
    width: 15vw;
    height: 21.3vw;
    background-image: url(image/pickle.png);
    background-size: 100%;
    position: absolute;
    top: 60%;
    left: 3%
}
